img {
    border-radius: 8px;
    width: 350px;
    display:block;
    margin: 0 auto;
    margin-top: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap');

.about {
    font-size: 22px;
    font-family: 'Arvo', serif;
}

