@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Vibur&display=swap");

.skills {
    display: flex;
    font-family: "Oswald", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    width: 50%;
    height: 100%;
    padding: 0 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #f09;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f09;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}