@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap');

.btn{
    background-color: #f09 !important;
}

.form{
    padding: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Arvo', serif;
    font-size: 30px;
}