@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Vibur&display=swap");

.btn{
    background-color: #f09 !important;
}

.form{
    padding: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}